/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px; 

    /* Animation */
    --animation-duration:300ms;

}

/* Universal tags */
* {
    box-sizing: border-box;
}
body{
     margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    }
a {text-decoration:none;color: var(--color-white);}
ul{padding-left:0;}
li{list-style: none;}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline:none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}
/*Arrow Top*/
.arrow {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 400;
    border-radius: 50%;
    background-color: white;
    border:2px solid transparent;
    cursor: pointer;
    transition: all var(--animation-duration) linear; 
}
.arrow.visuable {
    opacity: 1;
    pointer-events: auto;
}
.arrow-top {
    color: var(--color-pink);
    font-size: var(--font-large);
}
/* Navbar */
#navbar { 
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    padding: 16px; 
    color: var(--color-white);
    transition: all var(--animation-duration) ease-in-out; 
    z-index: 400;  
}
#navbar.navbar--dark{
    background-color:var(--color-pink);     
    padding: 8px; 
}
.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar__menu {
    display: flex;   
}
.navbar__menu__item{
    padding: 8px 12px; 
    margin:0 4px;
    cursor: pointer;
    color:var(--color-white);
    border:1px solid transparent;
    border-radius: var(--size-border-radius);
}
.navbar__menu__item.active{
    border-radius: var(--size-border-radius);
    border:1px solid var(--color-white);
} 
.navbar__menu__item:hover{
    border:1px solid var(--color-white);
    border-radius: var(--size-border-radius);
    background-color: var(--color-dark-pink);
}
.navbar__toggle-btn{
    display:none;
    position: absolute;
    top:24px;
    right:32px;
    font-size:24px;
    color:var(--color-white);
}
/* Home */
#home {
    background: url("./imgs/homebackground.png") no-repeat center/cover;
    padding:40px;
    padding:40px;
    padding-top:120px;
    text-align:center;
    transition:all var(--animation-duration) linear; 
}
.home__avatar {
    display: inline-block;
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    border:2px solid var(--color-white);
}
.home__title, .home__description {
    color:var(--color-white);
}
.home__contact:hover {
    background-color: var(--color-orange);
}
.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 24px;
    padding: 8px 12px;
    border:2px solid var(--color-white);
    border-radius:var(--size-border-radius);
}
/* Section Common */
.section{
    padding:50px;
    padding-top: 70px;
    text-align: center;
    margin:auto;
}
.section__container{
    max-width:1200px;
    margin:auto;
}
.sec__title {
    font-size: var(--font-large);
}
/* About Me */
.about__strength{
    display: flex;
    justify-content: space-between;
    margin:80px 0 ;
}
.strength__icon{
    width:170px;
    height: 170px;
    font-size: 70px; 
    line-height: 170px;
    border:1px solid var(--color-blue);
    border-radius: 50%;
    margin:auto;
    color:var(--color-blue);
}
.strength__icon:hover i{
    color:var(--color-pink);
    transform:scale(1.1) rotate(-30deg);
}
.strength__icon:hover i{
    transition:all var(--animation-duration) linear;
}
.strength__title, .strength__description {
    color: var(--color-dark-grey);
}
.strength__description {font-size: var(--font-small);}
.school {display: flex; align-items: center;}
.school__description{
    margin: 0 16px; 
    text-align: left;
}
.school__name, .school__period{
    color:var(--color-light-grey);
}
.school__name{
    font-size: var(--font-small);
}
.school__period{
    font-size: var(--font-micro);
}
/* Skill */
#skills { 
    background-color: var(--color-yellow);
}
h3 {
   font-weight: var(--weight-semi-bold);
}
.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0; 
}
.skillset__title{
    color: var(--color-white);
}
.skillset__description{
    display: flex;
    justify-content: space-between;
}
.skillset__left{
    flex-basis:60%;
    background-color: var(--color-dark-grey);
    padding:20px 40px;
}
.skillset__right{
    flex-basis:40%;
}
.tools{
    background-color: var(--color-grey);
}
.tools, .etc {
    padding:20px;
}
.skill {
    margin-bottom:32px;
}
.skill__bar {
    width: 100%; height: 3px;
    background-color: var(--color-light-grey);
}
.skill__value {
    height: 3px;
    background-color: var(--color-orange);
}
/* Works */
.works__category {
    margin: 40px;
}
.category__btn{
    position: relative;
    padding: 8px 48px;
    border:1px solid var(--color-dark-grey);
    border-radius: var(--size-border-radius);
    font-size:var(--font-regular);
}
.category__btn.active, .category__btn:hover{
    background-color: var(--color-pink);
    color: var(--color-white);
}
.tab__count{
    position: absolute;
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    display:inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    top: 20px;
    right: 10px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}
.category__btn.active .tab__count, .category__btn:hover .tab__count{
    opacity: 1;
    top:5px; 
}
.works__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}
.works__projects.anim-out {
    opacity: 0;
    transform:scale(0.96) translateY(20px);
}
.project {
    width: 200px; height: 250px; margin: 2px;
    position: relative;
    background-color: var(--color-light-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.project.invisible{
    display: none;
}
.project__img {max-width: 100%; max-height: 100%;}
.project__description{
width:100%;
    height: 100%;
    background-color: var(--color-black);
    position: absolute;
    top:0;
    left: 0;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity:0;
    transform: translateY(10px);
    transition:all var(--animation-duration) ease-in;
}
.project:hover .project__description{
    opacity: 0.8;   
    transform: translateY(0px);
}
.project__description h3 {
    color: var(--color-orange);
}
.project__description h3:after {
    content:'';
    width: 50px;
    height: 2px;
    background-color: var(--color-dark-white);
    display: block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top: 8px;
}
/* Testimonial */
#testimonial{
    background-color: var(--color-light-white);
}
.testimonials {
    margin:40px;
}
.testimonial {
    display:flex;
    margin: 32px 0;
}
.testimonial__avatar:nth-child(odd) {margin-right: 40px;}
.testimonial__avatar:nth-child(even) {margin-left: 40px;}
.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.testimonial__speech-bubble { 
    padding:18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}
.testimonial__speech-bubble p {
    color:var(--color-dark-grey);
}
.testimonial__speech-bubble a { 
    color:var(--color-pink);
}
/* Contact */
#contact {
    background-color: var(--color-pink);
}
.contact__title {
    margin:32px 0;
}
.contact__title,.contact__description,.copyright {
    color:var(--color-white);
}
.contact__links {
    font-size: var(--font-large);
    margin : 24px 0;
    transition:all var(--animation-duration) ease-in;
}
.contact__links i:hover{
    transform:scale(1.1);
    color: var(--color-yellow);
}
/*반응형 :  최소한의 스타일 변경만 쓰기! */
/* 768px Screen */
@media screen and (max-width:768px){
    :root {
        /* Color */
        --color-white: #ffffff;
        --color-light-white: #eeeeee;
        --color-dark-white: #bdbdbd;
        --color-pink: #fe918d;
        --color-dark-pink: #ff6863;
        --color-dark-grey: #4d4d4d;
        --color-grey: #616161;
        --color-light-grey: #7c7979;
        --color-blue: #73aace;
        --color-yellow: #fff7d1;
        --color-orange: #feb546;
        --color-black: #000000;
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    
        /* Font Weight */
        --weight-bold: 700;
        --weight-semi-bold: 600;
        --weight-regular: 400;
    
        /* Size */
        --size-border-radius: 4px; 
    
        /* Animation */
        --animation-duration:300ms;
    
    }
    .section {
        padding: 16px;
        padding-top: 40px;
    }
    .navbar__toggle-btn{
        top: 16px;
    right: 16px;
        display: block;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-pink);
    }
    
    #navbar.navbar--dark{
        padding:16px;
    }
    .navbar__menu{   
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    .navbar__menu.togle-show{
        display: block;
    }
    .navbar__menu__item{
        position: relative;
        top: 10px;
        opacity: 0;
        border: none;
        transition: all var(--animation-duration) linear;
    }
    .navbar__menu__item.anim-up{
        top:0;
        opacity: 1;
    }
    .navbar__menu__item.active{
        border:none;
    } 
    .navbar__menu__item:hover{
        border-radius: var(--size-border-radius);
        border: none;
    }
    .about__strength {
        margin: 30px 0;
        flex-direction: column;
    }
    .strength {
        margin-bottom: 30px;
    }
    .skillset{
        flex-direction: column;
    }
    .category__btn{
        width: 100%;
        margin-bottom: 5px;
    }
    .project{
        flex-grow: 1;
    }
    .testimonial {
        flex-direction: column;
        align-items: center;
    }
    .testimonial__speech-bubble {
        order: 1;
    }
    .testimonial__avatar {
        width:80px;
        height: 80px;
    }
    .testimonial__avatar:nth-child(odd),.testimonial__avatar:nth-child(even){
        margin: 0;
        margin-bottom: 20px;
    }
}